.groups-container {
  display: flex;

  flex-direction: column;

  gap: 24px;
}

.group-section h2 {
  color: black;

  margin-bottom: 12px;
}

.matches-row {
  display: flex;

  gap: 16px;

  overflow-x: auto;

  padding-bottom: 10px;
}

.matches-row::-webkit-scrollbar {
  height: 8px;
}

.matches-row::-webkit-scrollbar-thumb {
  background: #374151;

  border-radius: 999px;
}
