<header>

  <div class="left-links">

    <a
      routerLink="/teams"
      routerLinkActive="active"
    >
      Teams
    </a>

    <a
      routerLink="/matches"
      routerLinkActive="active"
    >
      Matches
    </a>

    <a
      routerLink="/leaderboard"
      routerLinkActive="active"
    >
      Leaderboard
    </a>

  </div>

  <div class="right-links">

    @if (
      !authService.isAuthenticated()
    ) {

      <a
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </a>

      <a
        routerLink="/register"
        routerLinkActive="active"
      >
        Register
      </a>

    }

    @if (
      authService.isAuthenticated()
    ) {

      <button
        (click)="authService.logout()"
      >
        Logout
      </button>

    }

  </div>

</header>