header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  background: #111827;
}

.left-links,
.right-links {
  display: flex;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;

  font-weight: 600;
}

.active {
  color: #22c55e;
}

button {
  cursor: pointer;

  border: none;

  padding: 8px 14px;

  border-radius: 8px;

  background: #ef4444;

  color: white;
}